<div class="parent py-5  d-flex justify-content-center align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="avatar-img mb-5">
        <img src="assets/avataaars.svg" alt="Avatar Logo " class="w-100">
    </div>
    <h1 class="text-uppercase text-white fw-bold position-relative">start framework</h1>
    <div class="d-flex justify-content-center align-items-center py-3">
        <div class="line me-3"></div>
        <i class="fa fa-star text-white"></i>
        <div class="line ms-3"></div>
       <div>
       </div>
    </div>
    <span class="text-white">Graphic Artist - Web Designer - Illustrator</span>
    </div>
</div>